@media only screen and (max-device-width: 720px){

body {
	margin:0px;
	padding:0px;
	color:white;
}

.container {
	width:100vw;
	height:130vh;
	background-color:grey;
	display:grid;
	grid-template-rows:repeat(16, 1fr);
	grid-template-columns:repeat(4, 1fr);
	grid-row-gap:0px;
}


h1 {
	font-family:arial;
	color:grey;
	grid-column:2/4;
	margin:auto;
	font-size:7.5vw;
}

.menu-container {
	margin:0px;
	background-color:#003354;
	position:fixed;
	display:grid;
	grid-template-columns:inherit;
	grid-template-rows:2;
	width:100vw;
	transition:0.5s;
}

.material-icons.hamburger {
	margin-top:auto;
	margin-bottom:auto;
	grid-column:span 1;
	grid-row:span 1;
	font-size:2em;
	color:white;
}

.menu {
	position:absolute;
	margin-top:0vh;
	height:110vh;
	width:0;
	opacity:0.9;
	transition:0.4s;
	padding-top:60px;
	background-color:#003354;
}

.menu a {
	color:white;
	transition:0.3s;
	display:none;
}

.show {
	width:100vw;
	display:block;
}

.hide {
	display:none;
}


.fade {
	background-color:rgb(100,100,100);
	padding:0px;
	margin:0px;
}


.close {
	color:grey;
	font-size:10em;
}

main > p {
	margin-top:10vh;
	margin-left:20vh;
}

}