@media only screen and (max-device-width: 720px){

body {
	margin:0px;
	padding:0px;
	color:white;
	height:130vh;
}

.container {
	width:100vw;
	height:130vh;
	background-color:grey;
	display:grid;
	grid-template-rows:repeat(16, 1fr);
	grid-template-columns:repeat(4, 1fr);
	grid-row-gap:0px;
	grid-column-gap:0px;
}


h1 {
	font-family:arial;
	color:grey;
	grid-column:2/4;
	margin:auto;
	font-size:7.5vw;
}

.menu-container {
	margin:0px;
	background-color:#003354;
	position:fixed;
	display:grid;
	grid-template-columns:inherit;
	grid-template-rows:2;
	grid-row-gap:0px;
	width:100vw;
}

.material-icons.hamburger {
	margin-top:auto;
	margin-bottom:auto;
	grid-column:span 1;
	grid-row:span 1;
	font-size:2em;
	color:white;
	height:7.5vh;
}

.menu {
	position:absolute;
	opacity:0;
	margin-top:0vh;
	height:125vh;
	width:0;
	transition:0.7s;
	padding-top:60px;
	background-color:#003354;
}

.menu a {
	color:white;
}

.show {
	width:100vw;
	display:block;
	opacity:0.9;
}

.display {
	display:block;
}

.hide {
	display:none;
}

.close {
	color:white;
	font-size:10em;
}

main > p {
	margin:auto;
}

.tophalf {
	margin-top: 7.5vh;
	grid-column:span 4;
	grid-row:1/10;
	width:100vw;
	height:70vh;
	border-width:2vw;
	border-radius:1vw;
	border-color:black;
	display:grid;
	grid-template-rows:1fr 1fr 1fr;
	grid-template-columns:1fr 1fr 1fr; 
}

.button {
	background-color:#003354;
	width:20vw;
	height:7.5vh;
	position:absolute;
	margin:0px;
	padding:0px;
	font-family:arial;
	color:white;
}

.button-container {
	position:absolute;
	grid-row:2/3;
	grid-column:2/3;
	height:20vh;
	width:20vw;
	margin-top:87.5vw;
	margin-left:27vh;
}

.picture {
	margin:0px;
	padding:0px;
	width:100vw;
	height:65vh;
}

.tophalf h1 {
	margin-top:30vh;
	margin-left:40vw;
}

.bothalf {
	grid-column:span 4;
	grid-row:span 7;
	background-color:blue;
	width:100vw;
	height:70vh;
	border-width:2vw;
	border-radius:1vw;
	border-color:black;
}

.bothalf h1 {
	margin-top:30vh;
	margin-left:40vw;
}

a {
	text-decoration-line:none;
	text-decoration-color:none;
	text-decoration-style:none;
	color:white;
	font-family:arial;
}

h2 {
	display:none;
	margin-left:5vw;
}


}